<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css" media="screen,projection"/>

</head>

<body>

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="left"></a>
        </div>
    </nav>
</header>

<main id="message_container" name="message_container" style="overflow:scroll; height:400px; max-height:800px">
    <div class="container">
        <div class="row">
            <div class="col s12 l8 push-l2 left">
                <iframe id="iframe" name="iframe" src="/messages" onload="iframeLoaded()"></iframe>
            </div>
        </div>
    </div>
</main>

<footer class=" page-footer white">
    <div class="container">
        <div class="row">
            <div class="col s12 l8 push-l2 center">

                <div class="input-field">
                    <input id="message" type="text" class="validate"/>
                    <label for="message" th:text="${user.name}"></label>
                </div>
                <a class="waves-effect waves-light btn"><input type="submit" value="Send"/></a>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>

<script>
function resize() {
    var height = $(window).height() - 210;
    var size = height + 'px';
    $('div[name=message_container]').css('height',  size);
    iframeLoaded();
}

$(document).ready(function(){
    console.log("ready");
    resize();
});

window.onresize = function(event) {
    console.log("resize");
    resize();
};

function iframeLoaded() {
    var iFrameID = document.getElementById('iframe');
    if(iFrameID) {
        var height = $(window).height() - 210;
        var size = height + 'px';
        iFrameID.height = "";
        iFrameID.height = size;
        iFrameID.width = "100%";
        var $contents = $('#iframe').contents();
        $contents.scrollTop($contents.height());
    }
}

function reload() {
    console.log("reloading ui");
    document.getElementById('iframe').contentWindow.location.reload();
    setTimeout(reload, 10000);
}

setTimeout(reload, 10000);


</script>

</body>
</html>