<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css" media="screen,projection"/>

</head>

<body>

<header>

</header>

<main>
    <div class="container">
        <div class="row">
            <!--<div class="col s12 l8 push-l2 center">-->

            <!--<div class="input-field">-->
            <!--<input id="message" type="text" class="validate"/>-->
            <!--</div>-->

            <!--</div>-->
        </div>
    </div>
</main>

<footer class="page-footer white">
    <div class="container">
        <div class="row">
            <div class="col s12 l8 push-l2 center">

                <div class="input-field">
                    <input id="message" type="text" class="validate"/>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>

</body>
</html>